<!-- {% extends 'base.html' %}

{% block content %}
      
        {% if current_user.is_authenticated%}
        <h3>{{ current_user.username.title() }}'s PokéTeam</h3>
        {% endif %}
    
        {% for pokemon in current_team %}
    
        <div class="card2" style="width: 18rem;">
            <img src="{{pokemon.img_url}}" class="{{pokemon.name}}" style ="height:250px;">

                <h4>{{pokemon.pokemon}}</h4>
                <strong>Ability: {{pokemon.ability}}</strong>
                <p>HP: {{pokemon.hp}}<br>
                ATK: {{pokemon.attack}}<br>
                DEF: {{pokemon.defense}}</p>

                <a type="button" class="btn2"  href="{url_for('poketeam.releasePokemon', pokemon = pokemon.pokemon)}}">Release!</a>

</div>
        {% endfor %}
{% endblock %} -->
